@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body h1, body h2 {
  font-family: 'Srisakdi', cursive, sans-serif; }
body p {
  font-family: 'PT Sans', sans-serif; }

.premierePartie {
  background: #dbd3d8; }
  .premierePartie h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 25px;
    color: #173753; }
  .premierePartie p {
    text-align: center;
    font-size: 20px;
    color: #173753;
    padding-bottom: 24px; }

.photoCarré {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 73px; }
  .photoCarré div {
    width: 100%;
    display: flex;
    justify-content: center; }
  .photoCarré .boutonPlus {
    width: 3%;
    position: absolute;
    transform: translate(-345%, 305%);
    cursor: pointer; }
  .photoCarré img {
    width: 55%; }

.deuxiemePartie {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 30px;
  background: #dbd3d8; }
  .deuxiemePartie .imageChambre1 {
    width: 70%;
    background: url(../img/chambreBlanc.jpg);
    padding-bottom: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative; }
    .deuxiemePartie .imageChambre1 #premierChevron {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 2%; }
    .deuxiemePartie .imageChambre1 #deuxiemeChevron {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 90%; }
    .deuxiemePartie .imageChambre1 .cadreBleu {
      position: relative;
      width: 40%;
      top: 130px;
      right: -94%;
      padding: 35px 50px;
      background: #173753;
      opacity: 0.8;
      transition: right 0.8s; }
      .deuxiemePartie .imageChambre1 .cadreBleu .active {
        right: 0;
        transition: right 0.8s; }
      .deuxiemePartie .imageChambre1 .cadreBleu ul {
        columns: 2;
        margin: 0 0 0 40px; }
        .deuxiemePartie .imageChambre1 .cadreBleu ul li {
          color: #fff;
          list-style: none;
          margin: 0 0 10px 0px; }
          .deuxiemePartie .imageChambre1 .cadreBleu ul li img {
            width: 25px;
            vertical-align: -6px;
            margin: 0 5px 0 0; }
      .deuxiemePartie .imageChambre1 .cadreBleu img {
        width: 45px; }
      .deuxiemePartie .imageChambre1 .cadreBleu #premierPlus {
        color: #fff;
        position: absolute;
        left: -10px;
        top: 55px;
        cursor: pointer; }
      .deuxiemePartie .imageChambre1 .cadreBleu #premiereFleche {
        color: #fff;
        position: absolute;
        left: -16px;
        top: 55px;
        display: none;
        cursor: pointer; }
  .deuxiemePartie .imageChambre2 {
    width: 70%;
    background: url(../img/chambreNoir.jpg);
    padding-bottom: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative; }
    .deuxiemePartie .imageChambre2 #chevronBlanc {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 2%; }
    .deuxiemePartie .imageChambre2 #chevronBlanc2 {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 90%; }
    .deuxiemePartie .imageChambre2 .cadreBleu2 {
      position: relative;
      width: 40%;
      top: 130px;
      left: -42%;
      padding: 35px 50px;
      background: #173753;
      opacity: 0.8;
      transition: left 0.8s; }
      .deuxiemePartie .imageChambre2 .cadreBleu2 .active {
        right: 0;
        transition: right 0.8s; }
      .deuxiemePartie .imageChambre2 .cadreBleu2 ul {
        columns: 2;
        margin: 0 0 0 10px;
        box-sizing: border-box; }
        .deuxiemePartie .imageChambre2 .cadreBleu2 ul li {
          color: #fff;
          list-style: none;
          margin: 0 0 10px 0px; }
          .deuxiemePartie .imageChambre2 .cadreBleu2 ul li img {
            width: 25px;
            vertical-align: -6px;
            margin: 0 5px 0 0; }
      .deuxiemePartie .imageChambre2 .cadreBleu2 img {
        width: 45px; }
      .deuxiemePartie .imageChambre2 .cadreBleu2 #deuxiemePlus {
        color: #fff;
        position: absolute;
        right: -12px;
        top: 55px;
        cursor: pointer; }
      .deuxiemePartie .imageChambre2 .cadreBleu2 #deuxiemeFleche {
        color: #fff;
        position: absolute;
        right: -12px;
        top: 55px;
        display: none;
        cursor: pointer; }
  .deuxiemePartie .imageChambre3 {
    width: 70%;
    background: url(../img/chambreBoiserie.jpg);
    padding-bottom: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative; }
    .deuxiemePartie .imageChambre3 #troisiemeChevron {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 2%; }
    .deuxiemePartie .imageChambre3 #quatriemeChevron {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 90%; }
    .deuxiemePartie .imageChambre3 .cadreBleu3 {
      position: relative;
      width: 40%;
      top: 130px;
      right: -94%;
      padding: 35px 50px;
      background: #173753;
      opacity: 0.8;
      transition: right 0.8s; }
      .deuxiemePartie .imageChambre3 .cadreBleu3 .active {
        right: 0;
        transition: right 0.8s; }
      .deuxiemePartie .imageChambre3 .cadreBleu3 ul {
        columns: 2;
        margin: 0 0 0 40px; }
        .deuxiemePartie .imageChambre3 .cadreBleu3 ul li {
          color: #fff;
          list-style: none;
          margin: 0 0 10px 0px; }
          .deuxiemePartie .imageChambre3 .cadreBleu3 ul li img {
            width: 25px;
            vertical-align: -6px;
            margin: 0 5px 0 0; }
      .deuxiemePartie .imageChambre3 .cadreBleu3 img {
        width: 45px; }
      .deuxiemePartie .imageChambre3 .cadreBleu3 #troisiemePlus {
        color: #fff;
        position: absolute;
        left: -10px;
        top: 55px;
        cursor: pointer; }
      .deuxiemePartie .imageChambre3 .cadreBleu3 #troisiemeFleche {
        color: #fff;
        position: absolute;
        left: -16px;
        top: 55px;
        display: none;
        cursor: pointer; }
  .deuxiemePartie .texteChambre {
    width: 30%;
    padding-top: 60px;
    background: #fff;
    z-index: 500; }
    .deuxiemePartie .texteChambre .widthTexte {
      width: 80%;
      margin: auto; }
      .deuxiemePartie .texteChambre .widthTexte button {
        padding: 15px 55px;
        font-size: 16px;
        border-radius: 15px;
        color: #fff;
        text-transform: uppercase;
        color: #000;
        transition: all ease-in-out 0.2s;
        cursor: pointer;
        position: relative;
        z-index: 0;
        overflow: hidden; }
      .deuxiemePartie .texteChambre .widthTexte button::before {
        content: '';
        position: absolute;
        top: 55px;
        left: -10px;
        width: 217px;
        height: 100%;
        background: #173753;
        z-index: -1;
        transition: all .5s; }
      .deuxiemePartie .texteChambre .widthTexte button:hover::before {
        background: #173753;
        cursor: pointer;
        top: 0px;
        border-radius: 0; }
      .deuxiemePartie .texteChambre .widthTexte button:hover {
        color: #fff; }
    .deuxiemePartie .texteChambre h2, .deuxiemePartie .texteChambre p {
      text-align: center;
      color: #173753; }
      .deuxiemePartie .texteChambre h2 span, .deuxiemePartie .texteChambre p span {
        font-weight: bold; }
    .deuxiemePartie .texteChambre h2 {
      padding-bottom: 67px;
      font-weight: bold;
      font-size: 32px; }
    .deuxiemePartie .texteChambre .premierTexte {
      padding-bottom: 65px;
      font-size: 17px;
      text-align: justify; }
    .deuxiemePartie .texteChambre .deuxiemeTexte {
      padding-bottom: 53px;
      font-size: 17px;
      text-align: justify; }
    .deuxiemePartie .texteChambre button {
      display: block;
      margin: auto;
      cursor: pointer; }

@media screen and (max-width: 1000px) {
  .photoCarré {
    display: block; }
    .photoCarré div {
      padding-bottom: 20px; }
    .photoCarré img {
      width: 62%; }
    .photoCarré .boutonPlus {
      width: 10%;
      cursor: pointer; }

  .deuxiemePartie {
    flex-wrap: wrap; }
    .deuxiemePartie .imageChambre1, .deuxiemePartie .imageChambre2, .deuxiemePartie .imageChambre3 {
      width: 100%; }
      .deuxiemePartie .imageChambre1 .cadreBleu ul, .deuxiemePartie .imageChambre1 .cadreBleu2 ul, .deuxiemePartie .imageChambre1 .cadreBleu3 ul, .deuxiemePartie .imageChambre2 .cadreBleu ul, .deuxiemePartie .imageChambre2 .cadreBleu2 ul, .deuxiemePartie .imageChambre2 .cadreBleu3 ul, .deuxiemePartie .imageChambre3 .cadreBleu ul, .deuxiemePartie .imageChambre3 .cadreBleu2 ul, .deuxiemePartie .imageChambre3 .cadreBleu3 ul {
        columns: initial; }
      .deuxiemePartie .imageChambre1 .cadreBleu #premierPlus, .deuxiemePartie .imageChambre1 .cadreBleu #premiereFleche, .deuxiemePartie .imageChambre1 .cadreBleu #deuxiemePlus, .deuxiemePartie .imageChambre1 .cadreBleu #deuxiemeFleche, .deuxiemePartie .imageChambre1 .cadreBleu #troisiemePlus, .deuxiemePartie .imageChambre1 .cadreBleu #troisiemeFleche, .deuxiemePartie .imageChambre1 .cadreBleu2 #premierPlus, .deuxiemePartie .imageChambre1 .cadreBleu2 #premiereFleche, .deuxiemePartie .imageChambre1 .cadreBleu2 #deuxiemePlus, .deuxiemePartie .imageChambre1 .cadreBleu2 #deuxiemeFleche, .deuxiemePartie .imageChambre1 .cadreBleu2 #troisiemePlus, .deuxiemePartie .imageChambre1 .cadreBleu2 #troisiemeFleche, .deuxiemePartie .imageChambre1 .cadreBleu3 #premierPlus, .deuxiemePartie .imageChambre1 .cadreBleu3 #premiereFleche, .deuxiemePartie .imageChambre1 .cadreBleu3 #deuxiemePlus, .deuxiemePartie .imageChambre1 .cadreBleu3 #deuxiemeFleche, .deuxiemePartie .imageChambre1 .cadreBleu3 #troisiemePlus, .deuxiemePartie .imageChambre1 .cadreBleu3 #troisiemeFleche, .deuxiemePartie .imageChambre2 .cadreBleu #premierPlus, .deuxiemePartie .imageChambre2 .cadreBleu #premiereFleche, .deuxiemePartie .imageChambre2 .cadreBleu #deuxiemePlus, .deuxiemePartie .imageChambre2 .cadreBleu #deuxiemeFleche, .deuxiemePartie .imageChambre2 .cadreBleu #troisiemePlus, .deuxiemePartie .imageChambre2 .cadreBleu #troisiemeFleche, .deuxiemePartie .imageChambre2 .cadreBleu2 #premierPlus, .deuxiemePartie .imageChambre2 .cadreBleu2 #premiereFleche, .deuxiemePartie .imageChambre2 .cadreBleu2 #deuxiemePlus, .deuxiemePartie .imageChambre2 .cadreBleu2 #deuxiemeFleche, .deuxiemePartie .imageChambre2 .cadreBleu2 #troisiemePlus, .deuxiemePartie .imageChambre2 .cadreBleu2 #troisiemeFleche, .deuxiemePartie .imageChambre2 .cadreBleu3 #premierPlus, .deuxiemePartie .imageChambre2 .cadreBleu3 #premiereFleche, .deuxiemePartie .imageChambre2 .cadreBleu3 #deuxiemePlus, .deuxiemePartie .imageChambre2 .cadreBleu3 #deuxiemeFleche, .deuxiemePartie .imageChambre2 .cadreBleu3 #troisiemePlus, .deuxiemePartie .imageChambre2 .cadreBleu3 #troisiemeFleche, .deuxiemePartie .imageChambre3 .cadreBleu #premierPlus, .deuxiemePartie .imageChambre3 .cadreBleu #premiereFleche, .deuxiemePartie .imageChambre3 .cadreBleu #deuxiemePlus, .deuxiemePartie .imageChambre3 .cadreBleu #deuxiemeFleche, .deuxiemePartie .imageChambre3 .cadreBleu #troisiemePlus, .deuxiemePartie .imageChambre3 .cadreBleu #troisiemeFleche, .deuxiemePartie .imageChambre3 .cadreBleu2 #premierPlus, .deuxiemePartie .imageChambre3 .cadreBleu2 #premiereFleche, .deuxiemePartie .imageChambre3 .cadreBleu2 #deuxiemePlus, .deuxiemePartie .imageChambre3 .cadreBleu2 #deuxiemeFleche, .deuxiemePartie .imageChambre3 .cadreBleu2 #troisiemePlus, .deuxiemePartie .imageChambre3 .cadreBleu2 #troisiemeFleche, .deuxiemePartie .imageChambre3 .cadreBleu3 #premierPlus, .deuxiemePartie .imageChambre3 .cadreBleu3 #premiereFleche, .deuxiemePartie .imageChambre3 .cadreBleu3 #deuxiemePlus, .deuxiemePartie .imageChambre3 .cadreBleu3 #deuxiemeFleche, .deuxiemePartie .imageChambre3 .cadreBleu3 #troisiemePlus, .deuxiemePartie .imageChambre3 .cadreBleu3 #troisiemeFleche {
        top: 99px; }
      .deuxiemePartie .imageChambre1 .cadreBleu, .deuxiemePartie .imageChambre1 .cadreBleu3, .deuxiemePartie .imageChambre2 .cadreBleu, .deuxiemePartie .imageChambre2 .cadreBleu3, .deuxiemePartie .imageChambre3 .cadreBleu, .deuxiemePartie .imageChambre3 .cadreBleu3 {
        right: -92%; }
        .deuxiemePartie .imageChambre1 .cadreBleu ul, .deuxiemePartie .imageChambre1 .cadreBleu3 ul, .deuxiemePartie .imageChambre2 .cadreBleu ul, .deuxiemePartie .imageChambre2 .cadreBleu3 ul, .deuxiemePartie .imageChambre3 .cadreBleu ul, .deuxiemePartie .imageChambre3 .cadreBleu3 ul {
          margin: 0 0 0 30px; }
      .deuxiemePartie .imageChambre1 .cadreBleu2, .deuxiemePartie .imageChambre2 .cadreBleu2, .deuxiemePartie .imageChambre3 .cadreBleu2 {
        left: -44%; }
        .deuxiemePartie .imageChambre1 .cadreBleu2 ul, .deuxiemePartie .imageChambre2 .cadreBleu2 ul, .deuxiemePartie .imageChambre3 .cadreBleu2 ul {
          margin: 0 0 0 10px; }
    .deuxiemePartie .texteChambre {
      width: 100%;
      padding-bottom: 40px; }

  #troisiemeSection {
    flex-direction: column-reverse; } }
@media screen and (max-width: 500px) {
  .deuxiemePartie .imageChambre1 #deuxiemeChevron, .deuxiemePartie .imageChambre1 #chevronBlanc2, .deuxiemePartie .imageChambre1 #quatriemeChevron, .deuxiemePartie .imageChambre2 #deuxiemeChevron, .deuxiemePartie .imageChambre2 #chevronBlanc2, .deuxiemePartie .imageChambre2 #quatriemeChevron, .deuxiemePartie .imageChambre3 #deuxiemeChevron, .deuxiemePartie .imageChambre3 #chevronBlanc2, .deuxiemePartie .imageChambre3 #quatriemeChevron {
    left: 82%; }
  .deuxiemePartie .imageChambre1 .cadreBleu, .deuxiemePartie .imageChambre1 .cadreBleu3, .deuxiemePartie .imageChambre2 .cadreBleu, .deuxiemePartie .imageChambre2 .cadreBleu3, .deuxiemePartie .imageChambre3 .cadreBleu, .deuxiemePartie .imageChambre3 .cadreBleu3 {
    position: initial;
    transition: initial;
    width: 100%;
    padding: 5px 0; }
    .deuxiemePartie .imageChambre1 .cadreBleu #premierPlus, .deuxiemePartie .imageChambre1 .cadreBleu #troisiemePlus, .deuxiemePartie .imageChambre1 .cadreBleu3 #premierPlus, .deuxiemePartie .imageChambre1 .cadreBleu3 #troisiemePlus, .deuxiemePartie .imageChambre2 .cadreBleu #premierPlus, .deuxiemePartie .imageChambre2 .cadreBleu #troisiemePlus, .deuxiemePartie .imageChambre2 .cadreBleu3 #premierPlus, .deuxiemePartie .imageChambre2 .cadreBleu3 #troisiemePlus, .deuxiemePartie .imageChambre3 .cadreBleu #premierPlus, .deuxiemePartie .imageChambre3 .cadreBleu #troisiemePlus, .deuxiemePartie .imageChambre3 .cadreBleu3 #premierPlus, .deuxiemePartie .imageChambre3 .cadreBleu3 #troisiemePlus {
      display: none; }
    .deuxiemePartie .imageChambre1 .cadreBleu ul, .deuxiemePartie .imageChambre1 .cadreBleu3 ul, .deuxiemePartie .imageChambre2 .cadreBleu ul, .deuxiemePartie .imageChambre2 .cadreBleu3 ul, .deuxiemePartie .imageChambre3 .cadreBleu ul, .deuxiemePartie .imageChambre3 .cadreBleu3 ul {
      column-count: 2; }
  .deuxiemePartie .imageChambre1 .cadreBleu2, .deuxiemePartie .imageChambre2 .cadreBleu2, .deuxiemePartie .imageChambre3 .cadreBleu2 {
    position: initial;
    transition: initial;
    width: 100%;
    padding: 5px 0; }
    .deuxiemePartie .imageChambre1 .cadreBleu2 #deuxiemePlus, .deuxiemePartie .imageChambre2 .cadreBleu2 #deuxiemePlus, .deuxiemePartie .imageChambre3 .cadreBleu2 #deuxiemePlus {
      display: none; }
    .deuxiemePartie .imageChambre1 .cadreBleu2 ul, .deuxiemePartie .imageChambre2 .cadreBleu2 ul, .deuxiemePartie .imageChambre3 .cadreBleu2 ul {
      column-count: 2;
      margin: 0 0 0 30px; } }

/*# sourceMappingURL=style.css.map */
