*{
  margin: 0;
  padding: 0;
}

$bleu : #173753;
$mauve : #dbd3d8;

body{
  h1, h2{
    font-family: 'Srisakdi', cursive, sans-serif;
  }
  p{
    font-family: 'PT Sans', sans-serif;
  }
}

  .modal {
      display: none;  
      position: fixed;  
      z-index: 999999; 
      top:0; 
      padding-top: 100px;  
      width: 100%;  
      height: 100%;  
      background-color: rgb(0,0,0);  
      background-color: rgba(0,0,0,0.4);  
      overflow: auto;
    }

  .modal-content {
    width: 40%;
    overflow: auto;
    background-color: #fefefe;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  #gaucheNews {
    box-sizing: border-box;
    width: 50%;
  }
  

 #gaucheNews img {
 width: 100%;
}
  

#droiteNews{
  box-sizing: border-box;
  background-color: #EFF1F3;
  width: 50%;
}

#droiteNews h5 {
  padding: 70px 0px 0px 0px;
  color: #173753;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  font-family: 'Srisakdi', cursive, sans-serif; 
}

#droiteNews p {
  color: #173753;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;

}

.close {
  color: #aaaaaa;
  font-size: 40px;
  font-weight: bold;
  float: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#blocMail {
  display: block;
  text-align: center;
  padding: 5px;
}

 #emailNews{
  display: block;
  margin: 10px auto 10px auto;
  padding: 6px;
 }

#validateNews {
    color: #ffffff;
    background-color: #173753;
     align-items: center;
    text-decoration: none;
    font-size: 15px;
    border: none;
    width: 40%;
    padding: 6px;

  }

  #validateNews:hover{
    color: black;
  }
.premierePartie{
  background: #fff;
  h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 25px;
    color: $bleu;
  }
  p{
    text-align: center;
    font-size: 20px;
    color: $bleu;
    padding-bottom: 24px;
  }
}

.photoCarré{
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 73px;
  div{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .boutonPlus{
    width: 3%;
    position: absolute;
    transform: translate(-345%, 305%);
    cursor: pointer;
  }
  img{
    width: 55%;
  }
}

.deuxiemePartie{
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 30px;
  background: #fff;
    .imageChambre1{
      width: 70%;
      background: url(../img/chambreBlanc.jpg);
      padding-bottom: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow-x: hidden;
      position: relative;
        #premierChevron{
          width: 45px;
          position: absolute;
          bottom: 5%;
          left: 2%;
        }
        #deuxiemeChevron{
          width: 45px;
          position: absolute;
          bottom: 5%;
          left: 90%;
        }
        .cadreBleu{
          position: relative;
          width: 40%;
          top: 130px;
          right: -94%;
          padding: 35px 50px;
          background: $bleu;
          opacity: 0.8;
          transition: right 0.8s;
            .active{
              right: 0;
              transition: right 0.8s;
            }
            ul{
              columns: 2;
              margin: 0 0 0 40px;
                li{
                  color: #fff;
                  list-style: none;
                  margin: 0 0 10px 0px;
                    img{
                      width: 25px;
                      vertical-align: -6px;
                      margin: 0 5px 0 0;
                    }
                }
            }
              img{
                width: 45px;
              }
              #premierPlus{
                color: #fff;
                position: absolute;
                left: -10px;
                top: 55px;
              cursor: pointer;
              }
              #premiereFleche{
                color: #fff;
                position: absolute;
                left: -16px;
                top: 55px;
                display: none;
                cursor: pointer;
              }
        }
    }
    .imageChambre2{
      width: 70%;
      background: url(../img/chambreNoir.jpg);
      padding-bottom: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow-x: hidden;
      position: relative;
        #chevronBlanc{
          width: 45px;
          position: absolute;
          bottom: 5%;
          left: 2%;
        }
        #chevronBlanc2{
          width: 45px;
          position: absolute;
          bottom: 5%;
          left: 90%;
        }
        .cadreBleu2{
          position: relative;
          width: 40%;
          top: 130px;
          left: -42%;
          padding: 35px 50px;
          background: $bleu;
          opacity: 0.8;
          transition: left 0.8s;
            .active{
              right: 0;
              transition: right 0.8s;
            }
            ul{
              columns: 2;
              margin: 0 0 0 10px;
              box-sizing: border-box;
                li{
                  color: #fff;
                  list-style: none;
                  margin: 0 0 10px 0px;
                    img{
                      width: 25px;
                      vertical-align: -6px;
                      margin: 0 5px 0 0;
                    }
                }
            }
              img{
                width: 45px;
              }
              #deuxiemePlus{
                color: #fff;
                position: absolute;
                right: -12px;
                top: 55px;
                cursor: pointer;
              }
              #deuxiemeFleche{
                color: #fff;
                position: absolute;
                right: -12px;
                top: 55px;
                display: none;
                cursor: pointer;
              }
        }
    }
    .imageChambre3{
      width: 70%;
      background: url(../img/chambreBoiserie.jpg);
      padding-bottom: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow-x: hidden;
      position: relative;
        #troisiemeChevron{
          width: 45px;
          position: absolute;
          bottom: 5%;
          left: 2%;
        }
        #quatriemeChevron{
          width: 45px;
          position: absolute;
          bottom: 5%;
          left: 90%;
        }
        .cadreBleu3{
          position: relative;
          width: 40%;
          top: 130px;
          right: -94%;
          padding: 35px 50px;
          background: $bleu;
          opacity: 0.8;
          transition: right 0.8s;
            .active{
              right: 0;
              transition: right 0.8s;
            }
            ul{
              columns: 2;
              margin: 0 0 0 40px;
                li{
                  color: #fff;
                  list-style: none;
                  margin: 0 0 10px 0px;
                    img{
                      width: 25px;
                      vertical-align: -6px;
                      margin: 0 5px 0 0;
                    }
                }
            }
              img{
                width: 45px;
              }
              #troisiemePlus{
                color: #fff;
                position: absolute;
                left: -10px;
                top: 55px;
                cursor: pointer;
              }
              #troisiemeFleche{
                color: #fff;
                position: absolute;
                left: -16px;
                top: 55px;
                display: none;
                cursor: pointer;
              }
        }
      }
    .texteChambre{
      width: 30%;
      padding-top: 60px;
      background: $mauve;
      z-index: 500;
        .widthTexte{
          width: 80%;
          margin: auto;
            a{
              padding: 15px 55px;
              font-size: 16px;
              border-radius: 15px;
              color: #fff;
              text-transform: uppercase;
              color: $bleu;
              transition: all ease-in-out 0.2s;
              cursor: pointer;
              position: relative;
              z-index: 0;
              overflow: hidden;
              border: 1px solid $bleu;
              text-align: center;
              width: 30%;
              text-decoration: none;
            }
            a::before{
             content:'';
             position: absolute;
             top: 55px;
             left: 0px;
             width: 110%;
             height: 100%;
             background: $bleu;
             z-index: -1;
             transition: all .8s;     
            }
            a:hover::before{
              background: $bleu;
              cursor: pointer;
              top: 0px;
              border-radius: 0;
            }
            a:hover{
              color: #fff;
              border: 1px solid #fff;
            }
        }
        h2, p{
          text-align: center;
          color: $bleu;
            span{
              font-weight: bold;
            }
        }
        h2{
          padding-bottom: 67px;
          font-weight: bold;
          font-size: 32px;
        }
        .premierTexte{
          padding-bottom: 65px;
          font-size: 17px;
          text-align: justify;
        }
        .deuxiemeTexte{
          padding-bottom: 53px;
          font-size: 17px;
          text-align: justify;
        }
        a{
          display: block;
          margin: auto;
          cursor: pointer;
        }
    }
}

/* PARTIE RESERVATION */
.reservation{
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 0;
    .reservationPartieGauche, .reservationPartieDroite{
      width: 50%;
    }
    .reservationPartieGauche{
      background: $bleu;
      padding-bottom: 50px;
        h2{
          padding-top: 80px;
          color: #fff;
          text-align: center;
          margin-bottom: 50px;
          font-size: 20px;
          font-family: 'PT Sans', sans-serif;
        }
        form{
          margin: 0 75px;
          display: flex;
          flex-wrap: wrap;
            .formulaireReservation{
              width: 100%;
              display: flex;
              justify-content: center;
                .labelReservation{
                  display: flex;
                  flex-direction: column;
                    label{
                      padding: 0 15px 5px 0;
                      color: #fff;
                      font-family: 'PT Sans', sans-serif;
                      margin-bottom: 11px;
                    }
                }
                .inputReservation{
                  display: flex;
                  flex-direction: column;
                  }
                  input, select{
                    background: transparent;
                    border: none;
                    border-bottom: 1px dashed #83A4C5;
                    width: 245px;
                    outline: none;
                    padding: 0px 0px 5px 0px;
                    font-style: italic;
                    color: #fff;
                    margin-bottom: 14px;
                  }
                  textarea{
                    padding: 0px 0px 0px 0px;
                    background: transparent;
                    outline: none;
                    border: none;
                    border-bottom: 1px dashed #83A4C5;
                    width: 245px;
                    overflow: hidden;
                    resize:none;
                    height:40px;
                    margin-bottom: 14px;
                  }
                  select{
                    background: $bleu;
                  }
                }
                input[type=submit]:disabled{
                  cursor: not-allowed;
                  background: #cccbcb;
            }
            #checkContactComplet{
              width: 100%;
              margin: 30px 0px;
              text-align: center;
                label{
                  color: #fff;
                  font-family: 'PT Sans', sans-serif;
                }
            }
            .boutonReservation{
              width: 100%;
                input{
                  padding: 15px;
                  text-transform: uppercase;
                  color: $bleu;
                  background: #fff;
                  border-radius: 7px;
                  border: none;
                  font-weight: bold;
                  font-size: 16px;
                  margin: auto;
                  display: block;
                  font-family: 'PT Sans', sans-serif;
                  cursor: pointer;
                  position: relative;
                  z-index: 0;
                  overflow: hidden;
                  transition: 1s;
                  border: 1px solid #fff;
                  box-sizing: border-box;
                }
                input:disabled{
                  color: #fff;
                  background: $bleu;
                  border: 1px solid #fff;
                  box-sizing: border-box;
                  transition: 1s;
                }
                input:disabled:hover{
                  background: $bleu;
                  color: #fff;
                  border: 1px solid #fff;
                  box-sizing: border-box;
                }
                input:hover{
                  background: #fff;
                  color: $bleu;
                  border: 1px solid #fff;
                  box-sizing: border-box;
                }
            }
        }
    }
    .reservationPartieDroite{
      background: url(../img/bed.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
    }
    .reservationCadreBlanc{
      width: 60%;
      background: rgba(255,255,255,0.6);
      margin: 250px 0px;
      padding: 30px 0px;
        h2, p{
          text-align: center;
          width: 100%;
          padding-bottom: 10px;
          font-family: 'PT Sans', sans-serif;
        }
        h2{
          font-variant-caps: small-caps;
          font-weight: bold;
          font-size: 30px;
        }
        p{
          width: 60%;
          margin: auto;
          font-size: 16px;
        }
        .traitReservation{
          width: 30%;
          border-bottom: 1px solid $bleu;
        }
    }
}


/* PARTIE RESPONSIVE */

@media  screen and (max-width: 1000px){
  .photoCarré{
    display: block;
      div{
        padding-bottom: 20px;
      }
      img{
        width: 62%;
      }
      .boutonPlus{
        width: 10%;
        cursor: pointer;
      }
  }
  .deuxiemePartie{
    flex-wrap: wrap;
      .imageChambre1, .imageChambre2, .imageChambre3{
        width: 100%;
          .cadreBleu, .cadreBleu2, .cadreBleu3{
            ul{
              columns: initial;
            }
            #premierPlus, #premiereFleche, #deuxiemePlus, #deuxiemeFleche, #troisiemePlus, #troisiemeFleche{
              top: 99px;
            }
          }
          .cadreBleu, .cadreBleu3{
            right: -92%;
              ul{
              margin: 0 0 0 30px;
              }
          }
          .cadreBleu2{
            left: -44%;
              ul{
              margin: 0 0 0 10px;
              }
          }
      }
      .texteChambre{
        width: 100%;
        padding-bottom: 40px;
      }
  }
  #troisiemeSection{
    flex-direction: column-reverse;
  }
  .reservation{
    display: block;
      .reservationPartieGauche, .reservationPartieDroite{
        width: 100%;
      }
  }
}

@media  screen and (max-width: 500px){

  .deuxiemePartie{
    .imageChambre1, .imageChambre2, .imageChambre3{
      padding-bottom: 270px;
      #deuxiemeChevron, #chevronBlanc2, #quatriemeChevron{
        left: 82%;
      }
      .cadreBleu, .cadreBleu3{
        position: initial;
        transition: initial;
        width: 100%;
        padding: 5px 0;
          #premierPlus, #troisiemePlus{
            display: none;
          }
          ul{
            column-count: 2;
          }
      }
      .cadreBleu2{
        position: initial;
        transition: initial;
        width: 100%;
        padding: 5px 0;
          #deuxiemePlus{
            display: none;
          }
          ul{
            column-count: 2;
            margin: 0 0 0 30px;
          }
      }
    }
  }
  .reservation{
    .reservationPartieGauche{
      h2{
        padding: 50px 15px 10px 15px;
      }
      form{
        margin: 0 10px;
          .formulaireReservation{
            input, select, textarea{
              width: 190px;
            }
        }
      }
    }
  }
}