@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body h1, body h2 {
  font-family: 'Srisakdi', cursive, sans-serif; }
body p {
  font-family: 'PT Sans', sans-serif; }

.premierePartie {
  background: #dbd3d8; }
  .premierePartie h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 25px;
    color: #173753; }
  .premierePartie p {
    text-align: center;
    font-size: 20px;
    color: #173753;
    padding-bottom: 24px; }

.photoCarré {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 73px; }
  .photoCarré div {
    width: 100%;
    display: flex;
    justify-content: center; }
  .photoCarré .boutonPlus {
    width: 3%;
    position: absolute;
    transform: translate(-345%, 305%); }
  .photoCarré img {
    width: 55%; }

.deuxiemePartie {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 30px;
  background: #dbd3d8; }
  .deuxiemePartie .imageChambre1 {
    width: 70%;
    background: url(../img/chambreBlanc.jpg);
    padding-bottom: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative; }
    .deuxiemePartie .imageChambre1 #premierChevron {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 2%; }
    .deuxiemePartie .imageChambre1 #deuxiemeChevron {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 90%; }
    .deuxiemePartie .imageChambre1 .cadreBleu {
      position: relative;
      width: 40%;
      top: 130px;
      right: -94%;
      padding: 35px 50px;
      background: #173753;
      opacity: 0.8;
      transition: right 0.8s; }
      .deuxiemePartie .imageChambre1 .cadreBleu .active {
        right: 0;
        transition: right 0.8s; }
      .deuxiemePartie .imageChambre1 .cadreBleu ul {
        columns: 2;
        margin: 0 0 0 40px; }
        .deuxiemePartie .imageChambre1 .cadreBleu ul li {
          color: #fff;
          list-style: none;
          margin: 0 0 10px 0px; }
          .deuxiemePartie .imageChambre1 .cadreBleu ul li img {
            width: 25px;
            vertical-align: -6px;
            margin: 0 5px 0 0; }
      .deuxiemePartie .imageChambre1 .cadreBleu img {
        width: 45px; }
      .deuxiemePartie .imageChambre1 .cadreBleu #premierPlus {
        color: #fff;
        position: absolute;
        left: -10px;
        top: 55px; }
      .deuxiemePartie .imageChambre1 .cadreBleu #premiereFleche {
        color: #fff;
        position: absolute;
        left: -16px;
        top: 55px;
        display: none; }
  .deuxiemePartie .imageChambre2 {
    width: 70%;
    background: url(../img/chambreNoir.jpg);
    padding-bottom: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative; }
    .deuxiemePartie .imageChambre2 #chevronBlanc {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 2%; }
    .deuxiemePartie .imageChambre2 #chevronBlanc2 {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 90%; }
    .deuxiemePartie .imageChambre2 .cadreBleu2 {
      position: relative;
      width: 40%;
      top: 130px;
      left: -42%;
      padding: 35px 50px;
      background: #173753;
      opacity: 0.8;
      transition: right 0.8s; }
      .deuxiemePartie .imageChambre2 .cadreBleu2 .active {
        right: 0;
        transition: right 0.8s; }
      .deuxiemePartie .imageChambre2 .cadreBleu2 ul {
        columns: 2;
        margin: 0 0 0 10px;
        box-sizing: border-box; }
        .deuxiemePartie .imageChambre2 .cadreBleu2 ul li {
          color: #fff;
          list-style: none;
          margin: 0 0 10px 0px; }
          .deuxiemePartie .imageChambre2 .cadreBleu2 ul li img {
            width: 25px;
            vertical-align: -6px;
            margin: 0 5px 0 0; }
      .deuxiemePartie .imageChambre2 .cadreBleu2 img {
        width: 45px; }
      .deuxiemePartie .imageChambre2 .cadreBleu2 #deuxiemePlus {
        color: #fff;
        position: absolute;
        right: -12px;
        top: 55px; }
      .deuxiemePartie .imageChambre2 .cadreBleu2 #deuxiemeFleche {
        color: #fff;
        position: absolute;
        right: -12px;
        top: 55px;
        display: none; }
  .deuxiemePartie .imageChambre3 {
    width: 70%;
    background: url(../img/chambreBoiserie.jpg);
    padding-bottom: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative; }
    .deuxiemePartie .imageChambre3 #troisiemeChevron {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 2%; }
    .deuxiemePartie .imageChambre3 #quatriemeChevron {
      width: 45px;
      position: absolute;
      bottom: 5%;
      left: 90%; }
    .deuxiemePartie .imageChambre3 .cadreBleu3 {
      position: relative;
      width: 40%;
      top: 130px;
      right: -94%;
      padding: 35px 50px;
      background: #173753;
      opacity: 0.8;
      transition: right 0.8s; }
      .deuxiemePartie .imageChambre3 .cadreBleu3 .active {
        right: 0;
        transition: right 0.8s; }
      .deuxiemePartie .imageChambre3 .cadreBleu3 ul {
        columns: 2;
        margin: 0 0 0 40px; }
        .deuxiemePartie .imageChambre3 .cadreBleu3 ul li {
          color: #fff;
          list-style: none;
          margin: 0 0 10px 0px; }
          .deuxiemePartie .imageChambre3 .cadreBleu3 ul li img {
            width: 25px;
            vertical-align: -6px;
            margin: 0 5px 0 0; }
      .deuxiemePartie .imageChambre3 .cadreBleu3 img {
        width: 45px; }
      .deuxiemePartie .imageChambre3 .cadreBleu3 #troisiemePlus {
        color: #fff;
        position: absolute;
        left: -10px;
        top: 55px; }
      .deuxiemePartie .imageChambre3 .cadreBleu3 #troisiemeFleche {
        color: #fff;
        position: absolute;
        left: -16px;
        top: 55px;
        display: none; }
  .deuxiemePartie .texteChambre {
    width: 30%;
    padding-top: 60px;
    background: #fff;
    z-index: 500; }
    .deuxiemePartie .texteChambre .widthTexte {
      width: 80%;
      margin: auto; }
      .deuxiemePartie .texteChambre .widthTexte button {
        padding: 15px 55px;
        font-size: 16px;
        border-radius: 15px;
        color: #fff;
        text-transform: uppercase;
        color: #000;
        transition: all ease-in-out 0.2s; }
      .deuxiemePartie .texteChambre .widthTexte button:hover {
        background: #173753; }
    .deuxiemePartie .texteChambre h2, .deuxiemePartie .texteChambre p {
      text-align: center;
      color: #173753; }
      .deuxiemePartie .texteChambre h2 span, .deuxiemePartie .texteChambre p span {
        font-weight: bold; }
    .deuxiemePartie .texteChambre h2 {
      padding-bottom: 67px;
      font-weight: bold;
      font-size: 32px; }
    .deuxiemePartie .texteChambre .premierTexte {
      padding-bottom: 65px;
      font-size: 17px;
      text-align: justify; }
    .deuxiemePartie .texteChambre .deuxiemeTexte {
      padding-bottom: 53px;
      font-size: 17px;
      text-align: justify; }
    .deuxiemePartie .texteChambre button {
      display: block;
      margin: auto; }

/*# sourceMappingURL=style.css.map */
