*{
  margin: 0;
  padding: 0;
}

$bleu : #173753;
$mauve : #dbd3d8;

body{
  h1, h2{
    font-family: 'Srisakdi', cursive, sans-serif;
  }
  p{
    font-family: 'PT Sans', sans-serif;
  }
}

.premierePartie{
  background: $mauve;
  h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 25px;
    color: $bleu;
  }
  p{
    text-align: center;
    font-size: 20px;
    color: $bleu;
    padding-bottom: 24px;
  }
}

.photoCarré{
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 73px;
  div{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .boutonPlus{
    width: 3%;
    position: absolute;
    transform: translate(-345%, 305%);
  }
  img{
    width: 55%;
  }
}

.deuxiemePartie{
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 30px;
  background: $mauve;
    .imageChambre1{
      width: 70%;
      background: url(../img/chambreBlanc.jpg);
      padding-bottom: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow-x: hidden;
      .cadreBleu{
        position: relative;
        width: 40%;
        top: 130px;
        right: -94%;
        padding: 35px 50px;
        background: $bleu;
        opacity: 0.8;
        transition: right 0.8s;
          .active{
            right: 0;
            transition: right 0.8s;
          }
          ul{
            columns: 2;
            margin: 0 0 0 40px;
              li{
                color: #fff;
                list-style: none;
                margin: 0 0 10px 0px;
                  img{
                    width: 25px;
                    vertical-align: -6px;
                    margin: 0 5px 0 0;
                  }
              }
          }
            img{
              width: 45px;
            }
            #premierPlus{
              color: #fff;
              position: absolute;
              left: -10px;
              top: 55px;
            }
            #premiereFleche{
              color: #fff;
              position: absolute;
              left: -16px;
              top: 55px;
              display: none;
            }
      }
    }
    .imageChambre2{
      width: 70%;
      background: url(../img/chambreNoir.jpg);
      padding-bottom: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow-x: hidden;
        .cadreBleu2{
          position: relative;
          width: 40%;
          top: 130px;
          left: -42%;
          padding: 35px 50px;
          background: $bleu;
          opacity: 0.8;
          transition: right 0.8s;
            .active{
              right: 0;
              transition: right 0.8s;
            }
            ul{
              columns: 2;
              margin: 0 0 0 10px;
              box-sizing: border-box;
                li{
                  color: #fff;
                  list-style: none;
                  margin: 0 0 10px 0px;
                    img{
                      width: 25px;
                      vertical-align: -6px;
                      margin: 0 5px 0 0;
                    }
                }
            }
              img{
                width: 45px;
              }
              #deuxiemePlus{
                color: #fff;
                position: absolute;
                right: -12px;
                top: 55px;
              }
              #deuxiemeFleche{
                color: #fff;
                position: absolute;
                right: -12px;
                top: 55px;
                display: none;
              }
        }
    }
    .imageChambre3{
      width: 70%;
      background: url(../img/chambreBoiserie.jpg);
      padding-bottom: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow-x: hidden;
        .cadreBleu3{
          position: relative;
          width: 40%;
          top: 130px;
          right: -94%;
          padding: 35px 50px;
          background: $bleu;
          opacity: 0.8;
          transition: right 0.8s;
            .active{
              right: 0;
              transition: right 0.8s;
            }
            ul{
              columns: 2;
              margin: 0 0 0 40px;
                li{
                  color: #fff;
                  list-style: none;
                  margin: 0 0 10px 0px;
                    img{
                      width: 25px;
                      vertical-align: -6px;
                      margin: 0 5px 0 0;
                    }
                }
            }
              img{
                width: 45px;
              }
              #troisiemePlus{
                color: #fff;
                position: absolute;
                left: -10px;
                top: 55px;
              }
              #troisiemeFleche{
                color: #fff;
                position: absolute;
                left: -16px;
                top: 55px;
                display: none;
              }
        }
      }
    .texteChambre{
      width: 30%;
      padding-top: 60px;
      background: #fff;
      z-index: 500;
        .widthTexte{
          width: 80%;
          margin: auto;
        }
        h2, p{
          text-align: center;
          color: $bleu;
            span{
              font-weight: bold;
            }
        }
        h2{
          padding-bottom: 67px;
          font-weight: bold;
          font-size: 32px;
        }
        .premierTexte{
          padding-bottom: 65px;
          font-size: 17px;
          text-align: justify;
        }
        .deuxiemeTexte{
          padding-bottom: 53px;
          font-size: 17px;
          text-align: justify;
        }
        button{
          display: block;
          margin: auto;
        }
    }
}